In [1]:
# file = open('<file_name>','<modes>')
#<operations>
# file.close()

In [2]:
# with open('<file_name>','<modes>') as file:
#     <operation>

In [3]:
# modes
# r -> read
# x ->create
# w ->write
# a ->append

In [6]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file already exists")

The file already exists

In [7]:
with open('data.txt','r') as file:
    print(file.read())

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [8]:
with open('data.txt','r') as file:
    x = file.read()
    print(x)
    print(type(x))

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World
<class 'str'>

In [10]:
with open('data.txt','r') as file:
    x = file.read()
    x = x.split('\n')

n = int(input("Enter n = "))
print(x[n-1])

Enter n = 1

'1.Hello World'

In [11]:
with open('data.txt','r') as file:
    x = file.readline()
    print(x)
    print(type(x))

1.Hello World

<class 'str'>

In [18]:
with open('newdata.txt','a') as file:
    file.write('2.Hello World\n')

In [19]:
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name} {price} {quantity} {total}\n"
    bill = bill+total
    
print(s)

with open('newdata.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 1
Enter name = Banana
Enter price = 150
Enter quantity = 1
Apple 300 1 300
Banana 150 1 150

In [20]:
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name},{price},{quantity},{total}\n"
    bill = bill+total
    
print(s)

with open('newdata.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 3
Enter quantity = 100
Apple,300,2,600
Banana,3,100,300

In [22]:
import os
try:
    os.remove('data.txt')
except:
    print("The file is not there!")

The file is not there!

In [23]:
import pandas as pd
df = pd.read_csv('newdata.csv')
df

     Name  Price  Quantity  Total
0   Apple    300         2    600
1  Banana      3       100    300