In [1]:
# Python collections
# List
# Tuple
# Dictionary
# Set

In [2]:
# List
# -Indexing
# -Mutiple data
# -Duplicate
# -Ordered
# -Mutable

In [4]:
a = [1,2,3,4,5]
b = ['Apple','Ball','Cat']
print(a)
print(b)
print(type(a))
print(type(b))

[1, 2, 3, 4, 5]
['Apple', 'Ball', 'Cat']
<class 'list'>
<class 'list'>

In [13]:
b = ['Apple','Ball','Cat']
print(b[2])

Cat

In [8]:
print(len(b))

3

In [9]:
b = ['Apple','Ball','Cat','Dog','Fish']
b[0:3]

['Apple', 'Ball', 'Cat']

In [14]:
b = ['Apple','Ball','Cat','Dog','Fish']
b[0:50:2]

['Apple', 'Cat', 'Fish']

In [16]:
b = ['Apple','Ball','Cat','Dog','Fish','Apple']
b

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [18]:
b = ['Apple','Ball','Cat','Dog','Fish','Apple']
c  = ['Goat',1,2,3,4,5,6]
d = b+c
print(d)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Goat', 1, 2, 3, 4, 5, 6]

In [21]:
type(c[1])

int

In [22]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [23]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
    
print(l)

Enter n = 5
Enter x = 132
Enter x = 345
Enter x = 567
Enter x = 234
Enter x = 567
[132, 345, 567, 234, 567]

In [29]:
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value =  567
The min value =  132
The sum =  1845
[132, 234, 345, 567, 567]
[567, 567, 345, 234, 132]

In [31]:
a = ['Apple','Ant','Ball','Zebra','Cat']
a.sort()
print(a)

['Ant', 'Apple', 'Ball', 'Cat', 'Zebra']

In [34]:
a = ['Apple','Ant','Ball','Zebra','Cat']
for i in a:
    print(i)

Apple
Ant
Ball
Zebra
Cat

In [35]:
x,y = [100,200]
print(x)
print(y)

100
200

In [36]:
a = ['Apple','Ant','Ball','Zebra','Cat']
for i in a:
    if i !='Ball':
        print(i)

Apple
Ant
Zebra
Cat

In [38]:
a = ['Apple','Ant','Ball','Zebra','Cat']
if 'Ant' in a:
    print("Yes",a.count('Ant'))
else:
    print("No")

Yes 1

In [39]:
# append() insert() extend()
a = ['Apple','Ant','Ball','Zebra','Cat']
a.append('Gota')
a

['Apple', 'Ant', 'Ball', 'Zebra', 'Cat', 'Gota']

In [40]:
a = ['Apple','Ant','Ball','Zebra','Cat']
a.insert(1,'Goat')
a

['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [41]:
a = ['Apple','Ant','Ball','Zebra','Cat']
b = ['Fish','Apple']
a.extend(b)
a

['Apple', 'Ant', 'Ball', 'Zebra', 'Cat', 'Fish', 'Apple']

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

In [44]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']
a[0] = 'Ant'
a

['Ant', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [45]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']
a[0:3] = [1,2,3]
a

[1, 2, 3, 'Ball', 'Zebra', 'Cat']

In [46]:
# del remove() pop()
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']
del a[0]
a

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [47]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']
del a[0:3]
a

['Ball', 'Zebra', 'Cat']

In [48]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']
a.remove('Apple')
a

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [50]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']
b = a.pop(1)
print(a)
print(b)

['Apple', 'Ant', 'Ball', 'Zebra', 'Cat']
Goat

In [52]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat','Apple']
n = a.count('Apple')
for i in range(n):
    a.remove('Apple')
a

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [53]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']
a.index('Zebra')

4

In [59]:
a = ['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat','Zebra']
l = len(a)
for i in range(l):
    if a[i] == 'Zebra':
        print(i)

4
6

In [61]:
a = ['Apple','Ant','Ball','Zebra','Cat']
if 'ant' in a:
    print("Yes",a.count('Ant'))
else:
    print("No")

No

In [1]:
# list inside list (nested list)

In [4]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [5]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a[0])

[1, 2, 3]

In [14]:
a[2][0]

7

In [16]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [17]:
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Lalitpur']
['Hari', 67, 'Bhaktapur']

In [18]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data.append([name,age,add])

print(data)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Nabin
Enter age = 56
Enter add = Bara
[['Ram', 34, 'Kathmandu'], ['Nabin', 56, 'Bara']]

In [19]:
a = [['Ram', 34, 'Kathmandu'], ['Nabin', 56, 'Bara']]
a.append(['Age',45,'Lalitpur'])
print(a)

[['Ram', 34, 'Kathmandu'], ['Nabin', 56, 'Bara'], ['Age', 45, 'Lalitpur']]

In [21]:
a = [['Ram', 34, 'Kathmandu'], ['Nabin', 56, 'Bara'], ['Age', 45, 'Lalitpur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [24]:
a = [['Ram', 34, 'Kathmandu'], ['Nabin', 56, 'Bara'], ['Ram', 45, 'Lalitpur']]
name = input("Enter name = ")
for i in range(len(a)):
    if name in a[i]:
        print(i)

Enter name = Ram
0
2

In [25]:
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name} {price} {quantity} {total}\n"
    bill = bill+total
    
print(s)
print(bill)

Enter n = 2
Enter name = Apple
Enter price = 34
Enter quantity = 3
Enter name = Banana
Enter price = 200
Enter quantity = 2
Apple 34 3 102
Banana 200 2 400

502

In [26]:
s

'Apple 34 3 102\nBanana 200 2 400\n'

In [30]:
x = s.split('\n')[0:-1]
x

['Apple 34 3 102', 'Banana 200 2 400']

In [33]:
bill = []
for i in x:
    y = i.split()
    bill.append(y)
bill

[['Apple', '34', '3', '102'], ['Banana', '200', '2', '400']]