In [1]:
a = str()

In [2]:
a = 'Python'
b = "Python"
c = '''Python'''
print(a,b,c)

Python Python Python

In [3]:
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [4]:
# imutable datatype

In [5]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [7]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [8]:
a = input("Enter a = ")
print(a)

Enter a = Python
Python

In [9]:
a = "Hello World"
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [46]:
a = "Hello World"
for i in a:
    if i !=" ":
        print(i,end = "")

HelloWorld

In [51]:
a = "Hello"
n = len(a)

for i in range(n):
    print(i,a[i])

0 H
1 e
2 l
3 l
4 o

In [53]:
a = "Hello"
n = len(a)
i = 0
while i<n:
    print(i,a[i])
    i = i+1

0 H
1 e
2 l
3 l
4 o

In [12]:
a = "Hello World"
print(a[1])

e

In [11]:
a = "Hello World"
print(a[-1])

d

In [13]:
a = "Hello World"
print(a[0:5])

Hello

In [14]:
a = "Hello World"
b = a[0:5]
print(b)

Hello

In [15]:
print(a[5:])

 World

In [21]:
a = "Hello World"
print(a[0:11:2])

HloWrd

In [23]:
a = "Hello World"
print(a[::-1])

'dlroW olleH'

In [25]:

name = "Ram"
age = 23

print(name+str(age))

Ram23

In [26]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter Add = ")
info = "Hello world I am " + name+" I am from "+add+" I am "+str(age)
print(info)

Enter name = Ram
Enter age = 89
Enter Add = Kathmandu
Hello world I am Ram I am from Kathmandu I am 89

In [27]:
# string formatting 
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter Add = ")
info = f"Hello world I am {name} I am from {add} I am {age}"
print(info)

Enter name = Ram
Enter age = 45
Enter Add = Kathmandu
Hello world I am Ram I am from Kathmandu I am 45

In [28]:
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name} {price} {quantity} {total}\n"
    bill = bill+total
    
print(s)
print(bill)

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 4
Enter name = Banana
Enter price = 56
Enter quantity = 4
Apple 200 4 800
Banana 56 4 224

1024

In [30]:
# Seach
name = "Ram Shyam Hari Sita Gita Ram Ram"
if "Ram" in name:
    print("Yes")
else:
    print("No")

Yes

In [35]:
# Seach
name = "Ram Shyam Hari Sita Gita Ram Ram"
x = input("Enter name  = ")
if x in name:
    print("Yes")
    print(name.count(x))
else:
    print("No")

Enter name  = ram
No

In [34]:
a = "Ram"
print(a.lower())
print(a.upper())

ram
RAM

In [36]:
# Seach
name = "Ram Shyam Hari Sita Gita Ram Ram".lower()
x = input("Enter name  = ").lower()
if x in name:
    print("Yes")
    print(name.count(x))
else:
    print("No")

Enter name  = ram
Yes
3

In [37]:
name = "Ram Shyam Hari Sita Gita Ram Ram".lower()
print(name)

ram shyam hari sita gita ram ram

In [39]:
name = "Ram Shyam Hari Sita Gita Ram Ram"
print(name.lower())
print(name)

ram shyam hari sita gita ram ram
Ram Shyam Hari Sita Gita Ram Ram

In [43]:
# replace()
name = "Ram Shyam Hari Sita Gita Ram Ram"
x = name.replace('Ram','rama')
print(x)

print(name)

rama Shyam Hari Sita Gita rama rama
Ram Shyam Hari Sita Gita Ram Ram

In [44]:
# replace()
name = "Ram Shyam Hari Sita Gita Ram Ram"
x = name.replace('Ram','')
print(x)

 Shyam Hari Sita Gita