In [1]:
# Tuple
# -Indexing
# -Ordered
# -multiple values
# -Duplicate Values
# -Imutable

In [2]:
t = tuple()
t = (1,2,3,4,5,6)
r = ("Apple","Ball","Cat")
print(r)
print(type(r))

('Apple', 'Ball', 'Cat')
<class 'tuple'>

In [6]:
r = ("Apple",)
type(r)

tuple

In [7]:
r = 1,2,3,4,5
r

(1, 2, 3, 4, 5)

In [9]:
r = ("Apple","Ball","Cat")
r[1]

'Ball'

In [10]:
t = (1,2,3,4,5,6)
r = ("Apple","Ball","Cat")
t+r

(1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat')

In [11]:
r = ("Apple","Ball","Cat")
r*2

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [1]:
# WAP to create a tuple by taking data from user
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)

print(t)

Enter n = 5
Enter x = 123
Enter x = 45
Enter x = 23
Enter x = 456
Enter x = 231
(123, 45, 23, 456, 231)

In [2]:
# no append() insert() extend()
# no update
# no del remove() pop()
# no sort()

In [6]:
t= (123, 45, 23, 456, 231)
x = list(t)
del x[0]
t = tuple(x)
t

(45, 23, 456, 231)

In [ ]:
# sum() max() min() index()

In [ ]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))

In [2]:
data = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = data + ((name,age,add),)

print(data)

Enter n = 2
Enter name = sfdsf
Enter age = 324
Enter add = sfdd
Enter name = dfgdfg
Enter age = 342
Enter add = dgdfg
(('sfdsf', 324, 'sfdd'), ('dfgdfg', 342, 'dgdfg'))

In [ ]:
#tuple inside list
a = [('sfdsf', 324, 'sfdd'), ('dfgdfg', 342, 'dgdfg')]

#list inside tuple
b = (['sfdsf', 324, 'sfdd'], ['dfgdfg', 342, 'dgdfg'])

In [4]:
a = [('sfdsf', 324, 'sfdd'), ('dfgdfg', 342, 'dgdfg')]
del a[0]
a

[('dfgdfg', 342, 'dgdfg')]

In [6]:
a = [('sfdsf', 324, 'sfdd'), ('dfgdfg', 342, 'dgdfg')]
del a[0][0]

TypeError: 'tuple' object doesn't support item deletion

In [8]:
b = (['sfdsf', 324, 'sfdd'], ['dfgdfg', 342, 'dgdfg'])
del b[0]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
b = (['sfdsf', 324, 'sfdd'], ['dfgdfg', 342, 'dgdfg'])
del b[0][0]
b

([324, 'sfdd'], ['dfgdfg', 342, 'dgdfg'])

In [ ]:
# search index() sorted()

In [12]:
a = (234,546,234,657,24,76,234)
sorted(a)

[24, 76, 234, 234, 234, 546, 657]