In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

In [3]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE pythons1")

In [3]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "python3pm")
db = database.cursor()

In [10]:
sql = "SELECT * FROM student"
db.execute(sql)
result =db.fetchall()
for i in result:
    print(i)

(1, 'Rama', 89, 98, 85, 67, 89, 420, 82.5, 'A')
(3, 'Nabin', 82, 84, 85, 98, 89, 430, 88.5, 'A')
(4, 'Shiva', 49, 57, 25, 98, 89, 400, 70.0, 'A')
(10, 'Sameer', 89, 67, 80, 98, 89, 412, 82.5, 'A')

In [ ]:
sql = "SELECT * FROM student WHERE per > 70"
db.execute(sql)
result =db.fetchall()
for i in result:
    print(i)

In [8]:
name = input("Enter name = ")
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))

total = physics+chemistry+math+english+nepali
per = total/5
if per >= 80:
    grade = 'A'
elif per>= 60:
    grade = 'B'
elif per>= 45:
    grade = 'C'
else:
    grade = 'F'

sql = f'''INSERT INTO student(name,physics,chemistry,math,english,nepali,total,per,grade) 
VALUES('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')'''
print(sql)

Enter name = Gauri
Enter physics = 98
Enter chemistry = 78
Enter math = 90
Enter english = 87
Enter nepali = 78
INSERT INTO student(name,physics,chemistry,math,english,nepali,total,per,grade)
VALUES('Gauri',98,78,90,87,78,431,86.2,'A')

In [7]:
db.execute(sql)
database.commit()

In [9]:
# update
# UPDATE student SET name = 'Utsab' WHERE name = 'Ram'
initial = input("Enter initial name = ")
final = input("Enter final name = ")
sql = f"UPDATE student SET name = 'Utsab' WHERE name = 'Ram'"
db.execute("UPDATE student SET name = '{final}' WHERE name = '{initial}'")

In [10]:
# Delete
# DELETE FROM student WHERE name = 'Ram'
name = input("Entre name = ")
sql = "DELETE FROM student WHERE name = '{name}'"
db.execute(sql)
database.commit()

Entre name = Ram