In [1]:
# Dictionary
# -Indexing
# -Ordered
# -Mutable
# -Multiple and duplicate data

In [3]:
d = {}
e = dict()
print(type(d))
print(type(d))

<class 'dict'>
<class 'dict'>

In [4]:
# d = {<key>:<value>,<key>:<value>}
d = {'a':'apple','b':'ball','c':'cat'}
a = {1:1,2:4,3:9,4:16}
print(a,d)
print(type(a),type(d))

{1: 1, 2: 4, 3: 9, 4: 16} {'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'> <class 'dict'>

In [7]:
d['a']

'apple'

In [8]:
d = {'a':'apple','b':'ball','c':'cat','C':'cat'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'C': 'cat'}

In [9]:
d = {'a':'apple','b':'ball','c':'cat','c':'Cat'}
d

{'a': 'apple', 'b': 'ball', 'c': 'Cat'}

In [10]:
a = {}
a['a'] = "Aplle"
a['b'] = "Ball"
a['c'] = "Cat"
a

{'a': 'Aplle', 'b': 'Ball', 'c': 'Cat'}

In [11]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    key = name
    value = phone
    d[key] = value
    
d

Enter n = 2
Enter name = Ram
Enter phone = 9878778765
Enter name = Shyam
Enter phone = 9808778765

{'Ram': 9878778765, 'Shyam': 9808778765}

In [12]:
d = {'Ram': 9878778765, 'Shyam': 9808778765}
len(d)

2

In [13]:
for i in d:
    print(i)

Ram
Shyam

In [14]:
for i in d.values():
    print(i)

9878778765
9808778765

In [15]:
for i in d.items():
    print(i)

('Ram', 9878778765)
('Shyam', 9808778765)

In [17]:
l = []
for i in d.items():
    l.append(i)
    
print(l)
dict(l)

[('Ram', 9878778765), ('Shyam', 9808778765)]

{'Ram': 9878778765, 'Shyam': 9808778765}

In [18]:
d = {'Ram': 9878778765, 'Shyam': 9808778765}
a = {1:1,2:4,3:9,4:16}
c = a+d
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [19]:
d = {'Ram': 9878778765, 'Shyam': 9808778765}
d*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [20]:
d = {'Ram': 9878778765, 'Shyam': 9808778765}
a = {1:1,2:4,3:9,4:16}
d.update(a)
d

{'Ram': 9878778765, 'Shyam': 9808778765, 1: 1, 2: 4, 3: 9, 4: 16}

In [24]:
# delete
# del pop()
a = {'Ram': 9878778765, 'Shyam': 9808778765, 1: 1, 2: 4, 3: 9, 4: 16}
del a['Ram']
a

{'Shyam': 9808778765, 1: 1, 2: 4, 3: 9, 4: 16}

In [27]:
a = {'Ram': 9878778765, 'Shyam': 9808778765, 1: 1, 2: 4, 3: 9, 4: 16}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': 9808778765, 1: 1, 2: 4, 3: 9, 4: 16}
9878778765

In [28]:
# list inside dict
d = {'Ram': [9878778765,9870776765], 'Shyam': [9808778765,9808667654]}
print(d)

{'Ram': [9878778765, 9870776765], 'Shyam': [9808778765, 9808667654]}

In [29]:
d['Ram']

[9878778765, 9870776765]

In [31]:
d['Ram'][1]

9870776765

In [32]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    
    d[name] = [ntc_phone,ncell_phone]
    
d

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867667654
Enter ncell phone = 9808778765
Enter name = Shyam
Enter ntc phone = 9867556543
Enter ncell phone = 9808778765

{'Ram': [9867667654, 9808778765], 'Shyam': [9867556543, 9808778765]}

In [ ]:
# d = {'name':[],'age'[],'add':[]}

In [33]:
d = {'name':[],'age':[],'add':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
d

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Bhaktapur

{'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}

In [36]:
#Update
d = {'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}
d['add'][0] = 'Ktm'
d

{'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Ktm', 'Bhaktapur']}

In [37]:
#Delete
d = {'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}
del d['name'][0]
del d['age'][0]
del d['add'][0]
d

{'name': ['Shyam'], 'age': [45], 'add': ['Bhaktapur']}

In [38]:
a = {('Ram','Sita'): [9867667654, 9808778765], 'Shyam': [9867556543, 9808778765]}
a

{('Ram', 'Sita'): [9867667654, 9808778765], 'Shyam': [9867556543, 9808778765]}

In [39]:
# dict inside list
# WAP to create dict inside list and perfor CRUD
a = [{'name':'Ram','age':45,'add':'Kathmandu'},
    {'name':'Shyam','age':75,'add':'Bhaktapur'},
    {'name':'Nabin','age':54,'add':'Lalitpur'}]

In [40]:
# nested dict
d = {1:{'name':'Ram','age':10,'grade':'A'},
    2:{'name':'Shyam','age':11,'grade':'A+'},
    3:{'name':'Hari','age':14,'grade':'B'},
    4:{'name':'Nabin','age':11,'grade':'C'}}